/* region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-width:1200px;
    background-color: var(--box-light);
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: var(--box-dark);
}

.buttons {
    padding: 0.5rem 1rem;
    color: var(--box-light);
    background-color: var(--box-buttons);
}

.buttons:hover {
    background-color: var(--box-light-button);
}
/* end-region common */

/* region debug */
.debug * {
    border: 1px dashed;
}

.debug [class^="col"] {
    min-height: 300px;
    background-color: rgb(218, 228, 79);
}
/* end-region debug */

/* region utility */
:root {
    --box-light: #ffffff;
    --box-dark: #000000;
    --box-buttons: #0061ff;
    --box-light-button: #3381ff;
    --box-background: #b4d0e7;
}

.container {
    width: 80%;
    margin: auto;
}

.container-s {
    width: 70%;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

[class^="col-"] {
    padding: 1rem;
}

.col-1 {
    width: calc((100% / 12) * 1);
}

.col-2 {
    width: calc((100% / 12) * 2);
}

.col-3 {
    width: calc((100% / 12) * 3);
}

.col-4 {
    width: calc((100% / 12) * 4);
}

.col-5 {
    width: calc((100% / 12) * 5);
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: calc((100% / 12) * 7);
}

.col-8 {
    width: calc((100% / 12) * 8);
}

.col-9 {
    width: calc((100% / 12) * 9);
}

.col-10 {
    width: calc((100% / 12) * 10);
}

.col-11 {
    width: calc((100% / 12) * 11);
}

.col-12 {
    width: 100%;
}
/* end-region utility */

/* region flex */
.d-flex {
    display: flex;
}

.justify-between {
    justify-content:space-between;
}

.align-center{
    align-items: center;
}
/* end-region flex */

/* region header */
header {
    background-color: var(--box-light);
    position: fixed;
    width: 100%;
    z-index: 1000;
}

header nav {
    padding: 1rem;
    width: 100%;
}

.left-menu {
    a {
        margin-left: 2rem;
    }
}

.right-menu {
    a {
        margin-right: 2rem;
    }
}

a#start {
    padding: 0.5rem 1rem;
    color: var(--box-light);
    background-color: var(--box-buttons);
    margin-left: -20px;
}

a#start:hover {
    background-color: var(--box-light-button);
}
/* end-region header */

/* region main */
[class^="col"] {
    margin: 0.rem;
}

a:hover {
    background-color: (--box-background);
}

main {
    padding-top: 3rem;
}

/* jumbotron section */
.jumbotron {
    background-color: var(--box-background);
    margin-bottom: 10rem;
}

#title-jumbotron {
    font-size: 6.5rem;
    line-height: 9rem;
    padding: 1rem;
    padding-top: 3rem;
    margin-bottom: 2rem;
}

#jumbo-left {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
}

#jumbo-left>*:not(:last-child) {
        padding-bottom: 2rem;
}

#col-jumbo-right {
    position: relative;
}

#jumbo-right {
    position: absolute;
    bottom: -5rem;
}

#arrow {
    font-size: 3rem;
    padding-top: 3rem;
}
/* end-jumbotron section */
/* plans section */
#plans-title {
    font-size: 3rem;
    margin-bottom: 4rem;
}

#radio {
    margin-bottom: 3rem;
    #monthly{
        margin-right: 0.5rem;
    }
    #annual{
        margin-left: 2rem;
        margin-right: 0.5rem;
    }
}
/* end-plans section */
/* end-region main */